In [5]:

#1
for i in range(1,6):
   print(i)

1
2
3
4
5

In [12]:
#2
x = input("Enter integer:")
x=int(x)
Square = x**2
print("Square of x is: " + str(Square))

Enter integer:2
Square of x is: 4

In [8]:
#3
x = input("Enter x:")
y = input("Enter y:")

Sum = int(x) + int(y)

print(Sum)

Enter x:2
Enter y:2
4

In [3]:
#4
x=input("Enter first word:")
y=input("Enter second word:")
print(x,y)

Enter first word:chhavi
Enter second word:verma
chhavi verma

In [4]:
#5
x=input("Enter registration number: (format - egDL4CAF1234)")

print(x[0:2])

Enter registration number: (format - egDL4CAF1234)DL4CAF1234
DL

In [9]:
#6
x= str(input("Enter five digit number:"))
sum=0
for i in x:
    sum +=int(i)
print(sum)

Enter five digit number:12345
15

In [19]:
#7
words= input("Enter 5 words:")
for word in words:
  print(words,".")
  break

Enter 5 words:my name is chhavi verma
my name is chhavi verma .

In [15]:
#8
x = input("Enter date:(ddmmyyyy)")
print(x[4:])

Enter date:(ddmmyyyy)12122011
2011

In [11]:
#9
x= str(input("Enter five digit number:"))
product=1
for i in x:
    product *=int(i)
print(product)

Enter five digit number:12311
6