In [3]:
#Q1
import csv
file=open('abc.csv', 'w')
writer=csv.writer(file)
fields=['Roll number', 'Name', 'Marks']
rows=[['001', 'Aarohi', '9.0'],
['002', 'Chhavi', '9.9'],
['003', 'Disha', '8.3'],
['004', 'Anu', '9.5'],
['005', 'Kripa', '7.8'],
['006', 'Navneet', '9.1'],
['007', 'Bhavna', '7.1'],
['008', 'Chanchal', '9.7'],
['009', 'Cheshta', '6.5'],
['010', 'Manvi', '5.0']]
writer.writerows(rows)
file.close()

#Read csv file; assign to data frame
file=open('abc.csv','r')
csvreader=csv.reader(file)
file.close()
import numpy as np
import pandas as pd
with open('abc.csv','r') as f:
  read = csv.reader(f)
  df = pd.DataFrame(read,columns = ['RollNo','Name','Marks'],index=None)

#Print observation .
df1=df.head(6)
print(df1)

  RollNo     Name Marks
0    001   Aarohi   9.0
1    002   Chhavi   9.9
2    003    Disha   8.3
3    004      Anu   9.5
4    005    Kripa   7.8
5    006  Navneet   9.1

In [4]:
#Q2
df3=pd.read_csv(r"abc.csv", sep=":", nrows=2)
print(df3)

   001,Aarohi,9.0
0  002,Chhavi,9.9
1   003,Disha,8.3

In [10]:
#Q3
from pandas._libs.parsers import TextReader
f = open("abc.txt", "w")
f.writelines("['Roll number' 'Name' 'Marks'] \n"
"['001' 'Aarohi' '9.0'] \n"
"['002' 'Chhavi' '9.9'] \n"
"['003' 'Diksha' '9.3'] \n"
"['004' 'Anushree' '9.5'] \n"
"['005' 'Kriti' '7.8'] \n"
"['006' 'Navya' '9.1'] \n"
"['007' 'Bhavya' '9.1'] \n"
"['008' 'Kanchal' '9.7'] \n"
"['009' 'Chinti' '9.5'] \n"
"['010' 'Manasvi' '2.0'] \n")
f.close()

#Read abc.txt file and assign to df9.
f = open("abc.txt", "r")
read=f.readlines()
f.close()

import pandas as pd
with open('abc.txt','r') as f:
  read =f.read()

#print(read)
df9=pd.read_fwf('abc.txt')
#print(df9)

#Print first 5 observation and save to data frame df10.
df10=pd.read_fwf(r"abc.txt",nrows=5)
print(df10)

#Print last 4 observation and save to data frame df11.
df11=pd.read_fwf(r"abc.txt",nrows=4)
print(df11)

#Write df10 to a csv file.
df10.to_csv("abc.txt",sep=':')
print(df10)

   ['Roll number' 'Name' 'Marks']
0  ['001'         'Aarohi' '9.0']
1  ['002'         'Chhavi' '9.9']
2  ['003'         'Diksha' '9.3']
3  ['004'       'Anushree' '9.5']
4  ['005'          'Kriti' '7.8']
   ['Roll number' 'Name' 'Marks']
0  ['001'         'Aarohi' '9.0']
1  ['002'         'Chhavi' '9.9']
2  ['003'         'Diksha' '9.3']
3  ['004'       'Anushree' '9.5']
   ['Roll number' 'Name' 'Marks']
0  ['001'         'Aarohi' '9.0']
1  ['002'         'Chhavi' '9.9']
2  ['003'         'Diksha' '9.3']
3  ['004'       'Anushree' '9.5']
4  ['005'          'Kriti' '7.8']